@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Lexend", sans-serif;
}

/*  */

.how-it-works {
    display: flex;
}

.how-card-header img {
    width: 100%;
}

.how-card {
    margin-right: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 20px;
}

.work-head {
    text-align: center;
    font-weight: 500;
}

.wash {
    color: #266A26;
    font-weight: 500;
}

.how-card-body {
    padding: 15px 25px;
}

.how, .section-culture, .section-reach {
    background: #ECFFEC;
    padding: 50px 0 80px 0;
}

.section-reach {
    padding: 80px 0;
}



.how-card-body p {
    font-size: 14px;
}
@media screen and (max-width: 992px) {
    .how-it-works {
        flex-direction: column;
    }

    .how-card {
        margin-bottom: 15px;
        width: 100%;
    }
    br {
        display: none;
    }
}

/* styling the hero section */
.section-hero, .section-full-video {
    width: 100%;
    display: block;
    height: 700px;
    /* margin: 0 0 30px 0; */
    position: relative;
}

.row {
    margin: 0 !important;
}

.hero-icons, .hero-icons-about {
    display: flex;
}

.hero-icons p, .hero-icons-about p {
    color: rgba(225, 221, 221, 0.636);
}

.hero-content, .hero-content-about {
    padding: 15% 80px;
    color: #fff;
}

.hero-content-about {
    position: absolute;
    right: 5%;
}

.hero-content h1, .hero-content-about h1 {
    font-weight: 800;
}



.vbtn {
    outline: none;
    border: 0;
    box-shadow: none;
    background: #fff;
    color: #266A26;
}

.video-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.video-card-body {
    padding: 10px 0;
}

.view-section-btn button {
    outline: none;
    box-shadow: none;
    border: 0;
    padding: 10px 85px;
    background: #266A26;
    color: #fff;
}

.about-card-section {
    display: flex;
    justify-content: space-between;
}

.card-unit {
    padding: 30px 40px;
    background: #fff;
    border-radius: 20px;
}

.section-about {
    padding: 40px 0;
}

.project-text {
    margin: 8% auto;
}

.project-text p {
    font-size: 14px;
}

.pohead {
    margin: 80px 0;
}

@media screen and (max-width: 992px) {
    .about-card-section {
        flex-direction: column;
    }

    .card-unit-text {
        text-align: center;
    }

    .card-unit {
        padding: 35px;
        margin: 17px 30px;
    }
}