@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Lexend", sans-serif;
}

.footer-sec {
    background: #ECFFEC;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-project p, .footer-teacher-guide p, .footer-questionaire p {
    cursor: pointer;
}

.footer-project h5, .footer-teacher-guide h5, .footer-questionaire h5 {
    color: #266A26;
    font-weight: 700;
}

.row {
    margin: 0 !important;
}

.spar {
    outline: none;
    border: 0;
    box-shadow: none;
    display: block;
    margin-bottom: 10px;
    background: none;
}

.spar:hover, .nex:hover {
    color: #266A26;
}

.mymodal {
    display: block;
}




.pdf-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .react-pdf__Page {
    display: block !important; /* Ensure pages fill the container width */
    margin: 0 auto; /* Center the page horizontally */
  }
  
  .react-pdf__Page canvas {
    max-width: 100%; /* Ensure the canvas stays within the page width */
  }
  

@media screen and (max-width: 992px) {
    .footer-section {
        flex-direction: column;
    }
}


