@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Lexend", sans-serif;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .footer-section {
        flex-direction: column;
    }
}

