@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Lexend", sans-serif;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-project p, .footer-teacher-guide p, .footer-questionaire p {
    cursor: pointer;
}

.row {
    margin: 0 !important;
}

.spar {
    outline: none;
    border: 0;
    box-shadow: none;
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .footer-section {
        flex-direction: column;
    }
}


